@import url("https://fonts.googleapis.com/css2?family=National+Park:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=National+Park:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f2f2f2;
  font-family: "National Park", sans-serif;
  width: 100%;
}

* Hide mobile-specific elements on desktop */ .mobile-menu-icon {
  display: none;
}

.mobile-nav-links,
.only-mobile-ul {
  display: none;
}

/* Ensure your existing desktop navigation is visible */
.nav-menu {
  display: flex; /* Or whatever your desktop display property is (block, grid, etc.) */
}

/*hr {
  border: none;
  height: 2px;
  background-color: #3f438c;
  margin: 1em 0;
}
.border {
  height: 35px;
  width: 100%;
  background-image: url("images/border1.png");
  background-repeat: repeat-x;
  background-size: auto 100%;
  background-position: center;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
}
.border {
  height: 6px;
  width: 100px;
  margin: 2rem auto;
  background: linear-gradient(90deg, #f20ca2, #14d9d9);
  border-radius: 10px;
}
.border-skew-negative {
  transform: skewY(-1deg);
}
.border-skew-positive {
  transform: skewY(1deg);
}*/
.header1 {
  display: inline-flex;
  background-color: #f20ca2;
  width: 99vw;
  height: 5vh;
  color: #f2f2f2;
  /*padding: 0.5em 0 0.5em 1em;*/
}
.subheader1,
.subheader2,
.subheader3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  h4 {
    margin-left: 1em;
  }
  i {
    margin-left: 2em;
    margin-right: 2em;
  }
}
.subheader3 {
  width: 70%;
  justify-content: right;
}

.header2 {
  position: sticky;
  top: 0;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  width: 98vw;
  height: 8%;
  margin: 0.5em 0.5em 0 0.5em;
  img {
    width: 4vw;
    height: 4vh;
  }
}
.main-blue {
  color: #6f73ca;
}
.main-pink {
  color: #f20ca2;
}
.main-yellow {
  color: #f2bb13;
}
.main-green {
  color: #14d9d9;
}

.nav-menu {
  margin-right: 2em;
}
.nav-menu a {
  color: #3f438c;
  text-decoration: none;
  margin: 0 1em 0 1em;
  font-size: 20px;
  font-weight: 400;
}
.nav-menu a.menu-btn {
  border-radius: 20px;
  padding: 0.3em 1em 0.3em 1em;
  background-color: #14d9d9;
  color: #f2f2f2;
}
.image-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  overflow: hidden;
  .rounded-image {
    border-radius: 20px; /* Larger rounding for corners */
  }
}
.container2 {
  display: block;
  width: 6.5%;
  height: 30%;
  place-items: center;
  color: #f20ca2;
  font-weight: bold;
}
.side {
  width: 100%;
  height: 30%;
  border-radius: 20% 0 0 20%;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.side-label1 {
  background-color: #14d9d9;
}
.side-label2 {
  background-color: #3f438c;
}
.side-label3 {
  background-color: #f2bb13;
}
.image-container img {
  width: 90%;
  height: 90vh;
  /*object-fit: contain;*/
}

.overlay-text {
  position: absolute;
  top: 60%;
  left: 16%;
  transform: translate(-50%, -50%);
  text-align: left;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  border: 1px solid #f20ca2;
  background-color: #f2f2f2;
  padding: 2em;
}
.overlay-text h1 {
  color: #3f438c;
  font-size: 60px;
  font-weight: 700;
}
.overlay-text h3 {
  color: #f2bb13;
  font-size: 48px;
  font-weight: 400;
}
.anchorbtn {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid gray;
  margin-top: 2em;
  background-color: #f20ca2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.anchorbtn > a {
  color: #f2f2f2;
  text-decoration: none;
}
.anchorbtn a:hover,
.anchorbtn a:focus {
  text-decoration: underline;
}
.div-classes {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.div-subclass1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 4rem 0 4rem;
  p {
    padding: 2rem 2rem 2rem 2rem;
  }
}
.div-subclass2 {
  display: flex;
  justify-content: space-around;
  margin: 1.5em;
}
.subclass-heading {
  width: 40%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.subclass-heading > * > i {
  width: 30%;
}
.sports,
.computer,
.competitions {
  display: flex;
}
.sports-text,
.computer-text,
.competitions-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
.sports-text > h4 {
  color: #14d9d9;
  font-weight: bolder;
  font-size: larger;
}
.computer-text > h4 {
  color: #f20ca2;
  font-weight: bolder;
  font-size: larger;
}
.competitions-text > h4 {
  color: #f2bb13;
  font-weight: bolder;
  font-size: larger;
}
.subclass-img {
  width: 50%;
  height: auto;
}
.subclass-img img {
  width: 100%;
  border-radius: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 1em 2em 1em 0;
}
.div-admissions {
  position: relative;
  width: 100%;
  height: auto;
  /*background-color: #fbe9f4;*/
}
.admission1,
.admission2,
.admission3,
.testimonials {
  width: 100%;
}
.admission1 {
  height: 20%;
  h1 {
    text-align: center;
    color: #f20ca2;
    padding-top: 0.5em;
  }
  p {
    margin: 1em 3em;
    text-align: center;
  }
}
.admission2 {
  height: 70%;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1080px;
  margin: auto;
  align-items: center;
  overflow-x: hidden;
  overflow: visible;
}
.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #3f438c;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 0.5em 0.8em;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1;
}
.carousel-btn.left {
  left: -2rem;
}
.carousel-btn.right {
  right: -3rem;
}
.carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 1rem;
  padding: 1rem 0;
  /* Hide scrollbar across browsers */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.carousel-track::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.card {
  width: 300px;
  height: auto;
  border: 2px solid #3f438c;
  border-radius: 30px;
  margin: 0 1.7rem; /* Remove the large margin that pushes cards out of view */
  flex-shrink: 0; /* Prevent cards from shrinking */
}

.card > img {
  width: 100%;
  height: 200px;
  border-radius: 30px 30px 0 0;
}
.card-body {
  text-align: left;
  p {
    padding-left: 1rem;
  }
}
.card-text,
.card-title {
  line-height: 35px;
  padding-left: 1rem;
}
.admission3 {
  height: 10%;
  a {
    display: block;
    border-radius: 30px;
    border: 2px solid #f20ca2;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    font-size: 24px;
    font-weight: bolder;
    color: #f20ca2;
  }
}
.events {
  position: relative;
  width: 100%;
  height: 90vh; /* or any height you want */
  overflow: hidden;
}

.events > h1 {
  text-align: center;
  padding: 0.5em;
  color: #f20ca2;
}

.event-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.specific-event {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f2f2f2;
  padding: 2rem;
  border: 2px solid #14d9d9;
  border-radius: 20px;
  text-align: center;
  width: 50%; /* adjust as needed */
  height: 60%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  h1,
  h4,
  a {
    line-height: 70px;
  }
  p {
    margin-bottom: 5rem;
  }
}
.specific-event > a {
  padding: 1rem 4rem;
  border: 1px solid #14d9d9;
  border-radius: 25px;
  text-decoration: none;
  background-color: #14d9d9;
}
.testimonials > h1 {
  color: #f20ca2;
  height: 20%;
  text-align: center;
  padding-top: 3rem;
}
.single-testimonial {
  height: 70%;
  display: flex;
  position: relative;
  width: 50%;
  max-width: 700px;
  margin: 2rem auto;
  align-items: center;
  overflow-x: hidden;
  overflow: visible;
}
.single-testimonial .card {
  width: 100%;
  line-height: 20px;
  align-items: center;
  margin: auto;
  padding: 1rem 5rem;
  border: none;
}

.photogallery > h1 {
  text-align: center;
  padding: 0.5em;
  color: #f20ca2;
}
.photogallery-images {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Cleaner way to do 5 columns */
  /*gap: 10px; /* Optional: space between images */
}
.photogallery img {
  width: 100%;
  height: 250px; /* Set a fixed height */
  object-fit: cover; /* This makes all images fill their grid cells neatly */
  border: 3px;
  border-radius: 10px; /* Optional: softer edges */
}
.footer {
  width: 100%;
  height: 50vh;
  background-color: #3f438c;
  color: #f2f2f2;
}
.main-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem 0;
}
.footer-school {
  width: 50%;
  p {
    margin: 1rem 0;
    text-align: left;
    font-weight: bold;
    font-size: large;
  }
}
.footer-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  line-height: 10px;
  margin: 2rem 0;
}
.footer-quicklinks > h2,
.footer-aboutus > h2 {
  padding-bottom: 1rem;
}
.footer-quicklinks > a,
.footer-aboutus > a {
  display: block;
  line-height: 35px;
  font-size: larger;
  text-decoration: none;
  color: #f2f2f2;
}
.footer > p {
  text-align: center;
  line-height: 30px;
}
